.service-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}

.service {
  background-color: var(--color-bg-variant);
  border-radius: 0 0 2rem 2rem;
  border: 1px solid var(--color-primary);
  height: fit-content;
  transition: var(--transition);

  &:hover {
    background-color: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
  }

  .service-head {
    background-color: var(--color-primary);
    padding: 2rem;
    border-radius: 0 0 2rem 2rem;
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
  }

  h3 {
    color: var(--color-bg);
    font-size: 1rem;
    text-align: center;
  }

  .service-list {
    padding: 2rem;
    li {
      display: flex;
      grid-auto-flow: 1rem;
      margin-bottom: 0.8rem;
      gap: 1rem;
    }
    p {
      font-size: 0.9rem;
    }
  }

  .service-list-icon {
    color: var(--color-primary);
    margin-top: 2px;
  }
}

// Tablet
@media screen and (max-width: 1024px) {
  .service-container {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .service {
    height: auto;
  }
}

// Mobile
@media screen and (max-width: 600px) {
  .service-container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}
